
/*esta é a configuração de toda (*) pagina do meu tema*/
/*este é o reset ou seja o inicio de nossa pagian (*)*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto";
 }

.center{
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 2%;
}

/* 1º coisa que vou fazer é esconder este menu pois não estou no mobile e sim na tela co pc*/
/* veja que fiz outra configuração para quando entrar no 768px mobile*/
.menu-mobile{
	display: none;
}
/*menu ficará a direita => quando responsivo => tela 768px;*/
.menu-mobile{
	float: right;
}
/*estilizando o icone*/
.menu-mobile i{
	font-size: 33px;
	color: white;
	cursor: pointer;
}
/*esta estilização no ul e que deixa o menu mobile abaixo 768px em toda a tela*/
.menu-mobile ul{
	left: 0;
	top: 77px; /*distanciamento do nosso menu mobile referente ao topo da pagina*/
	display: none;
	width: 100%;
	position: absolute;
	list-style-type: none; /*para tirar as bolinhas do lado ou (bullet)*/
}

/*estou estilizando o texto dentro da li*/
.menu-mobile li{
	padding: 8px 0; /*este padding 8px esta distanciando em cima e em baixo e o 0 nada nas laterais direita e esquerda*/
	text-align: center;
	display: block;
	width: 100%;
	background: white; /*vou deixar o meu mobile abaixo dos 768px; em branco*/
	border-bottom: 1px solid #00f9f7;
}

.menu-mobile a{
	display: block; /*quando eu ponho display:block => o efeito fica para todo o bloco => exemplo => cursor point*/
	text-decoration: none;
	color: #202020;
}

/*inicio => configuração de toda a sessão inicial => menu*/
section.topo {
	background-image: linear-gradient(114deg, #250e8a, #00f9f7);
	padding-top: 40px;
	padding-bottom: 80px;
}
/*vai ser usado flutuação e não flexbox=> será dado o clear para evitar conflitos*/

.clear{clear: both;}


/*veja que a class="logo" terá a flutuação a esqueda*/
.logo{ 
	float: left;
}

/*veja que a class="menu-desktop" terá a flutuação a direita*/
.menu-desktop{
	float: right;
}

.menu-desktop li{
    display: inline-block;
    margin: 0 15px;
}

/*estilizando ou personalizando o link a */
.menu-desktop a{
	text-decoration: none;
	color: white;
	opacity: 0.6;
}
/*usando hover quando passar o mouse por cima*/
.menu-desktop a:hover{
	opacity: 1;
}

/*fim => configuração de toda a sessão inicial => menu*/

/*
   Classes auxiliares
*/

.w50{
/*isto fará com que pegue 50% da tela*/	
 float: left; width: 50%; 
 padding:  0 15px; 

}
/*quando a imagem estiver altrapassando => maior que a tela*/
/*técnica para deixar sempre responsivo e não quebrar.*/
.time-imagem img{
	max-width: 100%;
}


.time-descricao{
	margin-top: 50px;
	color: white;
}
.time-descricao h2{
	font-size: 45px;
}
.time-descricao p{
	font-size: 14px;
	margin-top: 10px;
	max-width: 240px;
}
.time-descricao a {
	display: inline-block;
	margin-top: 14px;
	padding: 10px 8px;
	text-decoration: none;
	color: #1b49a5;
	font-weight: bold;
	border-radius: 8px;
	background: #ffca00;
	box-shadow: 0 20px 30px 0 rgba(37, 15, 138, 0.2);
}

/*inicio - configuração icone fontawasean*/
.circle{
	position: absolute;
	left: 50%;
	margin-top: -20px;
	/*transform => centralizar 100%*/
	transform: translateX(-50%);
	width: 70px;
	height: 70px;
	text-align: center;
	line-height: 70px;
	border-radius: 50%;
	background-color: #ffffff;
	box-shadow: 0 10px 25px 0 rgba(37, 15, 139, 0.1);
}
.circle i{
	position: relative;
	top: 5px;
	font-size: 30px;
	color: #1c4aa6;
}
/*fim */

section.clientes-slider{
	padding: 60px 0;
}

section.clientes-slider img{padding:0 20px;}
/*inicio Slick Slider*/
  .slick-dotted ul{
  	list-style-type: none;
  	text-align: center;
  	position: relative;
  	margin-top: 10px;
  }
  .slick-dotted li{
  	display: inline-block;
  	margin: 0 7px;
  }
  .slick-dotted button:focus{
  	outline: 0;
  }
  .slick-dotted li button{
  	width: 16px;
  	height: 16px;
  	border-radius: 8px;
  	color: #d8d8d8;
  	border-width: 0;
  	background: #d8d8d8;
  	opacity: 1;
  	cursor: pointer;
  }
  /*active => é a bolinha que esta ativa*/
  li.slick-active button{
    background: #0c3f8a;
    color: #0c3f8a;
  }

  /*inicio seção diferenciais images
    espaçamento de uma seção para outra.
  */
   section.diferenciais{
   	 padding: 30px 0;
   }

   section.diferenciais h2 {
   	 color: #202020;
   	 font-size: 30px;
   	 font-weight: normal;
     text-align: center;
   }

   /*posso colocar div para chamar a classe ou somente a classe (.)*/
   div.icons-diferenciais{
   	  display: flex; /*display flex ele ajusta automaticamente*/
   	  flex-wrap: wrap; /*wrap => siginifica se não tiver espaço cai para proxima linha*/
      margin-top: 80px;/*deixar longe do topo da outra seção anterior*/

   }
   div.box-single-diferenciais{
   	text-align: center;
    width: 33.3%; /*seria a divisão de cada imagem, no espaçamento da tela totalizando 100%*/
    padding:0 10px; /*espaçamento => 0 não queremos nada de cima para baixo => 10px espaçamento nas laterais.*/
   }

   /*dentro dos diferenciais trabalhar o responsivo*/
    div.box-single-diferenciais img{
    	max-width: 100%;
    }

   /*fim trabalhar o responsivo img*/

   /*veja que não coloquei a (div) e ele aceitou, comente a class (.) direto*/
   .box-single-diferenciais h3 {
   	 font-size: 17px;
   	 margin: 10 0; /*dar uma margim de 10 0 apenas para não ficar grudado ou junto*/
   	 font-weight: bold;/*lembrando que o bold (negrito) é o padrão do navegador no h3 => então posso tirar se quiser*/
   	 color: #202020;
   }

   .box-single-diferenciais p{
   	 font-size: 14px;
   	 color: #202020;
   }

  /*fim seção diferenciais images*/

/*Fim Slick Slider*/

/*responsividade de tela*/
@media screen and (max-width: 768px){
	div.box-single-diferenciais{ width: 100%; } /*para acertar a imagem um em baixo do outro. mexemmos tambem =>  div.box-single-diferenciais img*/
	.w50{ width: 100%; }
	.menu-desktop {display: none;}
	.menu-mobile {display: block;}
}


